<% if @log.errors.any? %>
  <div>
    <p>There were problems saving your log...</p>
    <% @log.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>
<% end %>

<%= form_for @log do |f| %>
  <div>
    <%= f.label :entry_name %> <%= f.text_field :entry_name %>
  </div>

  <div><%= f.submit %></div>
<% end %>
