<!DOCTYPE html>
<html>
<head>
  <title>HasManyThroughPolymorphic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:error] %>
  <p><%= flash[:error] %></p>
<% end %>

<%= yield %>

<footer>
  <br>
  <hr>
  <p>
    View on <a href="https://github.com/kyletolle/has-many-through-polymorphic">GitHub</a> |
    Created by <a href="https://github.com/kyletolle">Kyle Tolle</a>
  </p>
</footer>
</body>
</html>
